<div class="email-list-signup">
    <h2>💌&nbsp;&nbsp;Keep up with the stories</h2>
    <div class="flex-container">
        <div class="email-promise">
            <p>
                Get these stories straight into your inbox!
            </p>
            <p>
                You'll get an email about once a month with a story, plus occasional recommendations to other content and news about career change.
            </p>
            <p>
                We will never send advertising or spam, and that's a promise.
            </p>
        </div>
        <div class="signup-form">
            <form
            action="https://formspree.io/f/myyrkkvp"
            method="POST"
            >
            <label>
                Your name:
                <input type="text" name="name">
            </label>
            <label>
                Your email:
                <input type="email" name="email">
            </label>
            <button class="primary" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>