---
layout: default
---
<main class="blog-posts">
  {%- if site.status -%}
    {%- include status.html -%}
  {%- endif -%}

  <h2>Stories archive</h2>

    <ul class="post-list">
      {%- for post in site.posts %}
        {%- unless post.draft == true or post.categories contains "launch" %}
          <li class="post-list-item" data-category="{{ post.categories | join: ';' }}" {% if post.img %}data-img="{{ post.img | img_url_prefix }}"{% endif %}>
            <span class="post-time">{{ post.date | date: "%e %b" }}</span>
            <span class="post-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a> 
              &middot; 
              <small>{{ post.subtitle }}</small>
            </span>
            <span class="time-to-read">
              {%- if post.draft != true %}
                {% include time-to-read.html -%}
              {% else %}
                Draft
              {% endif %}
            </span>
          </li>
        {% endunless %}
      {%- endfor %}
      <li class="post-list-item space-above">
        This project is only just getting started. Have you switched careers too? <a href="{{site.baseurl}}/call-for-participants">Please share your story &raquo;</a>
      </li>
    </ul>
</main>