---
layout: default
---
<main class="post__wrapper">
  <article class="post">
    <div class="post__header">
      <h1 class="post__title">
        {{ page.title | escape }}
      {%- if page.subtitle -%}
        <span class="subtitle">
          {{ page.subtitle | escape }}
        </span>
      {%- endif -%}
      </h1>
      <div class="post__meta">
          {% include time-to-read.html -%}
      </div>
    </div>
    <div class="post__profile">
      {%- if page.portrait -%}
        <img class="post__portrait" src="{{ site.imgsrc }}/portraits/{{ page.portrait }}" />
      {%- endif -%}
      <div class="profile-aside">
        <h3>Profile</h3>
        <h4>Journey</h4>
        <ul class="journey">
          {% for stop in page.journey %}
            <li>{{ stop }}</li>
          {% endfor %}
        </ul>
        <h4>Socials</h4>
        <ul class="socials">
          {% for link in page.socials %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="post__content">
      {{ content | toc | img_prefix }}
    </div>
    <!-- div class="post__colophon">
      Published by <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a>
      on <time>{{ page.date | date: "%e %B %Y" }}</time>
    </div -->
  </article>
  {% include post-nav.html %}
  {% include email-list.html %}
</main>