---
layout: default
---

{%- if site.status -%}
{%- include status.html -%}
{%- endif -%}

<main class="blog-posts">

  {{ content }}
  
    <div class="post-tiles">

      {%- for post in site.posts %}
        {%- if post.draft != true %}
          <div class="post-tiles-item" data-category="{{ post.categories | join: ';' }}" {% if post.img %}data-img="{{ post.img | img_url_prefix }}"{% endif %}>
            <!-- a href="{{ post.url | relative_url }}"-->
              <h2 class="post-title">
                {{ post.title }}
              </h2>
            <!-- /a -->
            <!-- small class="post-tiles-meta">
              {%- if post.draft != true %}
                {% include time-to-read.html -%}
              {% else %}
                Draft
              {% endif %}
            </small-->
            {%- if post.portrait -%}
              <img src="{{ site.imgsrc }}/portraits/{{ post.portrait }}" />
            {%- endif -%}
          </div>
        {% endif %}
      {%- endfor %}

      <div class="call-for-participants">
          <h4>Are you a career switcher too?</h4>
          <p>People will want to hear your story.</p>
          <p><a href="{{site.baseurl}}/call-for-participants">Learn why &raquo;</a></p>
      </div>
</main>